# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
tfplan.binary
tfplan.txt

#Keys
*.json
*.pem
*.Keys

#Python
__pycache__/
*.__pycache__.env
venv/

#IDE
.scode/
.idea/
*.swp

#OS
.DS_Store
Thumbs.db
EOF